@model IEnumerable<RDSUX.Models.ContractDWGS>

<table class="table">
    <tbody>
        <tr class="thbody-bg">

            <th width="20%">
                Contract Drawing Id
            </th>
            <th width="20%">
                File Name
            </th>
            <th width="20%">
                TIme Stamp
            </th>
            <th width="20%"></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td width="20%">
                    @Html.DisplayFor(modelItem => item.ContractDrawingId)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.ProjectId)
                    </td>*@
                <td width="20%">
                    @Html.DisplayFor(modelItem => item.FileName)
                </td>
                <td width="20%">
                    @Html.DisplayFor(modelItem => item.TImeStamp)
                </td>
                <td width="20%">
                    @{
                        var downloadmodel = "ContractDWGS_" + item.ContractDrawingId + "_" + item.ProjectId;
                    }
                    <a href='/Home/Download?downloadmodel=@downloadmodel'><span><i class="fa  fa-download" title="Download"></i></span></a>

                    <a href='/Home/DeleteDocument?downloadmodel=@downloadmodel'><span><i class="fa  fa-trash" title="Delete"></i></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>