@model IEnumerable<RDSUX.Models.EngineerReviewedDrawings>


<table class="table" >
    <tbody>
        <tr class="thbody-bg">
            <th width="20%">
                Engineering Drawing Id
            </th>
          
            <th width="20%">
                File Name
            </th>
            <th width="20%">
               Time Stamp
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td width="20%">
                    @Html.DisplayFor(modelItem => item.EngineeringDrawingId)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.ProjectId)
                </td>*@
                <td width="20%">
                    @Html.DisplayFor(modelItem => item.FileName)
                </td>
                <td width="20%">
                    @Html.DisplayFor(modelItem => item.TImeStamp)
                </td>
                <td width="20%">
                    @{
                        var downloadmodel = "EngineeringDrawings_" + item.EngineeringDrawingId + "_" + item.ProjectId;
                    }
                    <a href='/Home/DownloadEngineeringRiewedDrawings?downloadmodel=@downloadmodel'>Download</a>



                    <a href='/Home/DeleteEngineeringReviewedDocument?downloadmodel=@downloadmodel'>Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
