@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="dvProjects" class="row clearfix">
    @{ Html.RenderAction("LoadProjects", "Home");}
</div>

@section scripts{
    <script>

        function DeleteProject(id,name) {
            var confirmResult = confirm("Do you want to Delete Project : "+ name);
            if (confirmResult == true) {

                 $.ajax({
                        contentType: 'application/html; charset=utf-8',
                        type: 'GET',
                        dataType: 'html',
                        data: { "id": id },
                        url : '@Url.Action("DeleteProject", "Home")',
                        success: function (result) {
                               $('#dvProjects').html(result);

                            },
                        error: function (xhr, status) {
                                alert(status) ;
                                }
                      });

            }
        }
    </script>

}